[submodule "extern/gtest"]
	path = extern/gtest
	url = https://github.com/google/googletest.git
[submodule "extern/cmake-modules"]
	path = extern/cmake-modules
	url = https://github.com/bilke/cmake-modules
