[submodule "extern/gtest"]
	path = extern/gtest
	url = https://github.com/google/googletest.git
[submodule "extern/coveralls-cmake"]
	path = extern/coveralls-cmake
	url = https://github.com/JoakimSoderberg/coveralls-cmake
